.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
  
    @media screen and (min-width: 768px) {
      max-width: 665px;
    }
  
    @media screen and (min-width: 1280px) {
      max-width: 885px;
    }
  }