
:root {
  --main-text-color: #2e2520; /*цвет шрифта*/
  --second-text-color: #000000; /*цвет шрифта в Program в правой секции*/
  --primery-color: #ab816c; /*цвет кнопки, rgba в форме Registration и Contact*/
  --additional-color: #876655; /*цв.кнопки при клике*/
  --accent-color: #674d40; /*цв.кнопки при ховере*/
  --light-color: #ffffff; /**/

  --main-font-family: 'Montserrat', sans-serif;
  /*--second-font-family: 'Caveat Brusht', sans-serif;*/
  --main-font-size: 18px;
  --main-font-weight: 400;
  --main-line-height: 1.22;
}