:root {
  --main-text-color: #2e2520; /*цвет шрифта*/
  --second-text-color: #000000; /*цвет шрифта в Program в правой секции*/
  --primary-color: #ab816c; /*цвет кнопки, rgba в форме Registration и Contact*/
  --accent-color: #876655; /*цв.кнопки при ховере*/
  --additional-color: #674d40; /*цв.кнопки при клике*/
  --light-color: #ffffff; /*цв.текста кнопки*/
  --light-background: #fffff9;
  --main-background: #fef3e4;
  --main-font-family: 'Montserrat', sans-serif;
  --second-font-family: 'Caveat Brush', sans-serif;
  --main-font-size: 18px;
  --main-font-weight: 400;
  --main-line-height: 1.25;
}
