<section class="contact container" id="contacts">
    <h2 class="section-title contact-title">Contact</h2>
    <p class="contact__text">We will answer any question!</p>
    <form class="form__container form__container--contact" autocomplete="off">
      <label><input type="email" class="form__input form__input--contacts" name="email" autocomplete="on" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" title="Email format: ____@__.__" placeholder="Email" required><span></span></label>
      <label><textarea class="form__input form__input--contacts" name="user-massage"  placeholder="Type your question" rows="1" required></textarea></label>
      <button type="submit" class="button register__button button--contact" aria-label="send your question">Send</button>
    </form>
    
    
</section>