
<footer class="footer container">
    <ul class="list social-links-list social-links-list--footer">
        <li>
            <a href="https://twitter.com" target="_blank" rel="nofollow noreferrer" aria-label="twitter" title="twitter">
                <svg class="social-icons">
                    <use href="./images/icons/sprite.svg#icon-twitter"> </use>
                </svg>
            </a>
        </li>
    
        <li>
            <a href="https://www.instagram.com" target="_blank" rel="nofollow noreferrer" aria-label="instagram" title="instagram">
                <svg class="social-icons">
                    <use href="./images/icons/sprite.svg#icon-instagram"></use>
                </svg>
            </a>
        </li>
    
        <li>
            <a href="https://www.facebook.com" target="_blank" rel="nofollow noreferrer" aria-label="facebook" title="facebook">
                <svg class="social-icons">
                    <use href="./images/icons/sprite.svg#icon-facebook"> </use>
                </svg>
            </a>
        </li>
    </ul>
    <address class="">
        <ul class="contacts list">
            <li class="contacts__info">
                <a class="contacts-link link" href="tel:+19102228855" aria-label="call us" title="our phone number">
                    <svg class="contacts-link__icon contacts__icon" width="13" height="15">
                        <use href="./images/icons/sprite.svg#icon-phone"></use>
                    </svg>
                    (910)222-8855
                </a>
            </li>
            <li class="contacts__info">
                <button class="map-btn-desktop contacts-link link" href="#" target="_blank"
                    rel="noreferrer noopener" aria-label="see us on the map" title="our location" data-modal-open>
                    <svg class="contacts-link__icon  contacts__icon" width="11" height="15">
                        <use href="./images/icons/sprite.svg#icon-location"></use>
                    </svg>
                    New York
                </button>
                <a class="map-link-mob contacts-link link" href="https://goo.gl/maps/KmkCMaG1QHPyPXrL8" target="_blank"
                    rel="noreferrer noopener" aria-label="see us on the map" title="our location" data-modal-open>
                    <svg class="contacts-link__icon  contacts__icon" width="11" height="15">
                        <use href="./images/icons/sprite.svg#icon-location"></use>
                    </svg>
                    New York
                </a>
            </li>
        </ul>
    </address>
</footer>
<div class="backdrop hidden" data-modal data-modal-close2>
    <div class="modal">
        <p class="modal-text">
            Our address: 10 Columbus Cir, New York, NY 10019
        </p>
        <div class="modal-map">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2692.058918327039!2d-73.98257757210509!3d40.76787741532992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb88e9372fb041774!2sThe%20Shops%20at%20Columbus%20Circle!5e0!3m2!1sru!2sua!4v1621592855569!5m2!1sru!2sua"  style="border:0;"  loading="lazy"></iframe>
        </div>
        <button class="modal-btn-close" data-modal-close>
            <svg class="" width="12" height="12" aria-label="switch mobile meu">
                <use class="icon-close-modal" href="./images/icons/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <button class="go-map button">
            <a  class="link--map" href="https://goo.gl/maps/KmkCMaG1QHPyPXrL8" target="_blank"
            rel="noreferrer noopener">Go map</a>
        </button>
    </div>
</div>