<section id="home" class="hero-section">
    <div class="container">
        <div class="heroTitle--wrapper"> <h1 class="heroTitle">Donut Masterclass with the Donut King</h1> </div>
        <h2 class="heroSubtitle">Hosted by Eva Green</h2>
        <div class="hero-btn"><a href="#registration" class="link button register-btm " aria-label="registration" title="registration">Register</a></div>

        <ul class="list social-links-list">
            <li class="soc-list-item">
                <a class="soc-link link" href="https://twitter.com" target="_blank" rel="nofollow noreferrer" aria-label="twitter" title="twitter">
                    <svg class="social-icons">
                        <use href="./images/icons/sprite.svg#icon-twitter"> </use>
                    </svg>
                </a>
            </li>
        
            <li class="soc-list-item">
                <a class="soc-link link" href="https://www.instagram.com" target="_blank" rel="nofollow noreferrer" aria-label="instagram" title="instagram">
                    <svg class="social-icons">
                        <use href="./images/icons/sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
        
            <li class="soc-list-item">
                <a class="soc-link link" href="https://www.facebook.com" target="_blank" rel="nofollow noreferrer" aria-label="facebook" title="facebook">
                    <svg class="social-icons">
                        <use href="./images/icons/sprite.svg#icon-facebook"> </use>
                    </svg>
                </a>
            </li>
        </ul>
    
    </div>
</section>