<section class="reviews" id="reviews">
  <div class="container">
    <div class="review-container">
      <h2 class="title review-title">Reviews</h2>

      <span class="slider__paginate">/8</span>
      <div class="slider">
        <div class="slider__item">
          <article class="rew">
            <div class="photo">
              <img src="./images/reviews/photo1.jpg" alt="" />
            </div>
            <div class="stars">
              <img src="./images/reviews/rate_5stars.png" alt="" />
            </div>
            <div class="name">
              <p>Roman</p>
            </div>
            <div class="text">
              <p>From start to finish this course EXCEEDED all my expectations!</p>
            </div>
          </article>
        </div>

        <div class="slider__item">
          <article class="rew">
            <div class="photo">
              <img src="./images/reviews/photo6.jpg" alt="" />
            </div>
            <div class="stars">
              <img src="./images/reviews/rate_5stars.png" alt="" />
            </div>
            <div class="name">
              <p>Dina</p>
            </div>
            <div class="text">
              <p>
                The course was fun, relaxing and educational. None of the recipes looked
                complicated. Thanks!
              </p>
            </div>
          </article>
        </div>

        <div class="slider__item">
          <article class="rew">
            <div class="photo">
              <img src="./images/reviews/photo2.jpg" alt="" />
            </div>
            <div class="stars">
              <img src="./images/reviews/rate_5stars.png" alt="" />
            </div>
            <div class="name">
              <p>Liudmila</p>
            </div>
            <div class="text">
              <p>
                Last time I have visited a cooking course by Eva I was impressed with the way she
                explained everything to people. You can be sure you will manage to cook a delicious
                dish even if it is your first time in the kitchen! Thank you so much for the
                masterclass! Looking forward to the next one and highly recommend it to everyone!
              </p>
            </div>
          </article>
        </div>

        <div class="slider__item">
          <article class="rew">
            <div class="photo">
              <img src="./images/reviews/photo3.jpg" alt="" />
            </div>
            <div class="stars">
              <img src="./images/reviews/rate_4stars.png" alt="" />
            </div>
            <div class="name">
              <p>Natalia</p>
            </div>
            <div class="text">
              <p>
                The cooking course was everything and more then I thought it would be. I was always
                scared to try to make apple pies but after this class I no longer have a fear of
                trying to do this on my own. Thanks to Eva!
              </p>
            </div>
          </article>
        </div>

        <div class="slider__item">
          <article class="rew">
            <div class="photo">
              <img src="./images/reviews/photo4.jpg" alt="" />
            </div>
            <div class="stars">
              <img src="./images/reviews/rate_5stars.png" alt="" />
            </div>
            <div class="name">
              <p>Roman</p>
            </div>
            <div class="text">
              <p>
                Recently my friend and I attended Donut Masterclass and I must say it made an
                impression. The hostess was phenomenal! Eva is so technical and fun. Donuts were
                delicious. Bravo!
              </p>
            </div>
          </article>
        </div>

        <div class="slider__item">
          <article class="rew">
            <div class="photo">
              <img src="./images/reviews/photo5.jpg" alt="" />
            </div>
            <div class="stars">
              <img src="./images/reviews/rate_4stars.png" alt="" />
            </div>
            <div class="name">
              <p>Evgeniya</p>
            </div>
            <div class="text">
              <p>
                The donuts were amazing! Eva is a great instructor explaining things as we were
                going and was hands on when help was needed. Great experience overall. Once again
                Eva was a great hostess and assistant through out the entire masterclass.
              </p>
            </div>
          </article>
        </div>

        <div class="slider__item">
          <article class="rew">
            <div class="photo">
              <img src="./images/reviews/photo8.jpg" alt="" />
            </div>
            <div class="stars">
              <img src="./images/reviews/rate_4stars.png" alt="" />
            </div>
            <div class="name">
              <p>Larisa</p>
            </div>
            <div class="text">
              <p>
                Did a class last week thoroughly enjoyed it and made a superb donuts! Thank you.
              </p>
            </div>
          </article>
        </div>

        <div class="slider__item">
          <article class="rew">
            <div class="photo">
              <img src="./images/reviews/photo7.jpg" alt="" />
            </div>
            <div class="stars">
              <img src="./images/reviews/rate_4stars.png" alt="" />
            </div>
            <div class="name">
              <p>Hanna</p>
            </div>
            <div class="text">
              <p>
                Eva has a heart for tasty donuts. Unfortunately she took too many people (10) to the
                masterclass so the kitchen was a bit crowded...
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
